body{
  overflow-x:hidden;
  margin:0px;
  padding: 0px;
}

#sec1{
  height:100vh;
  text-align: center;
  background-color:black;
  position:relative;
}

.navbar{
  background-color: rgb(0,0,0);
}

.navbar-toggler-icon .navbar-toggle{
    color:white;
}

#sec2{
  background-color:#0f0f0f;
  height:50vh;
  color:white;
  font-family: 'Merienda', cursive;
}
