body{
  overflow-x:hidden;
  margin:0px;
  padding: 0px;
}

#sec1{
  height:100vh;
  text-align: center;
  background-color:black;
  position:relative;
  color:white;
}

.navbar{
  background-color: rgb(0,0,0);
}

.navbar-toggler-icon .navbar-toggle{
    color:white;
}

#sec2{
  background-color:#0f0f0f;
  height:45vh;
  color:white;
  font-family: 'Merienda', cursive;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);}
}

#downarrow{
  animation: bounce 2s infinite;
}

#sec3{
  background-color:white;
  height:60vh;
  color:black;
  font-family: 'Merienda', cursive;
  text-align:center;
}

#apprentice{
  position: relative;
  top:5vh;
  margin:10px;
  padding:10px;
  text-align: center;
  font-family: 'Merienda', cursive;
}

.hovanim{
  transition: 0.1s all;
  padding:10px;
}

.hovanim:hover{
  transform: scale(1.1);
}

#sec4{
  color:black;
  font-family: 'Acme', sans-serif;
  text-align: center;
  height:inherit;
  background-color:#f7f7f7;
}

#holderp{
  padding:30px;
}

.card{
  transition: 0.1s all;
}

.card:hover{
  transform: scale(1.05);
}

#sec5{
  color:black;
  font-family: 'Acme', sans-serif;
  text-align: center;
}

#instafeed img:hover{
  opacity:0.8;
}

.instagram_img_holder {
   width: 260px;
   height: 260px;
   background-size: cover;
}
